
/* CSS Zen Garden */

h1 {
  font-family: Tahoma, sans-serif;
  font-size: 50px;
  color: #F4F4F8;
  text-align: center;
  text-shadow: black 6px 6px 8px;
}
  /* parrafos TODOS */
body p {
  font-family: verdana;
  font-size: 12px;
  color: #F4F4F8;
  text-align: justify;
}

/* fondo */

body {

background: linear-gradient(to bottom, rgba(46,46,46,1) 0%, rgba(31,31,31,1) 0%, rgba(31,31,31,1) 0%, rgba(0,0,0,1) 19%, rgba(74,74,74,1) 41%, rgba(74,74,74,1) 57%, rgba(74,74,74,1) 63%, rgba(120,120,120,1) 73%, rgba(150,150,150,1) 88%, rgba(171,171,171,1) 98%, rgba(128,128,128,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#808080', GradientType=0 );
margin-left: 120px;
margin-right: 120px;
margin-top: 50px;
margin-bottom: 50px;
border-top: 20px;
}


/* titutlo The Beauty of desing */

h2 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;
    letter-spacing:3px;
   /*  word-spacing: .5em ; */

  
}
 


/*  descargas  links The Beauty of desing */


.summary p p a {
	font-family:  verdana;
  font-size: 16px;
  color: #FFCCFF;
  text-align: center;
  text-shadow: black 6px 6px 8px;
}


/* TITULO The Road to Enlightenment */
.preamble h3 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;
    letter-spacing:3px;
   /*  word-spacing: .5em ; */

}





/* TITULO So What is This About? */

.main h3 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;
    letter-spacing:3px;
   /*  word-spacing: .5em ; */

}



/* TITULO So What is This About? */

.participation h3 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;
    letter-spacing:3px;
   /*  word-spacing: .5em ; */

}


/* titulo Participation */

.participation h3 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;

} 





/* titulo benefits */

.benefits h3{
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;

}






  /* TITULO Requirements  */
.requirements h3 {
font-family: tahoma, cursive ;
  font-size: 21px;
  color: orange;
  text-align: center ;
    text-shadow: black 2px 4px 6px;

  }

.sidebar 
{ 

margin-left: 200px;
margin-right: 400px;
}


a>link
{ color: orange, !important ;}

.sidebar,h3
{ 
color: black;
}






